/* MOBILE AND GLOBAL STYLES */


#titles {
  perspective: 25px;
}

#borderbox {
  transition: transform 0.5s;
}


.shoe {
  stroke: rgb(39, 36, 36);
  stroke-width: 1;
  stroke-dasharray: 1150;
  stroke-dashoffset: 1150;
  animation: offset 3s 0.5s linear forwards;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  cursor: url('../cursor.svg'), default;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(233, 229, 224);
  transition: 1s;
}

main {
  margin: 200px 0 0 0;
}

.big-title {
  font-size: 400%;
  white-space: nowrap;
}

.floating-links {
  width: 85px;
  height: 40%;
  margin: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}

.social {
  color: #D1B384;
  margin: 0 auto 5px auto;
  text-align: center;
  font-size: 200%;
  cursor: url('../pointer.svg');
  transition: 0.5s;
}

.social:hover {
  color: white;
}

#titles {
  transition: 2s;
}

.scaled {
  transform: scale(0.3);
  transition: 2s;
}

#navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.line {
  height: 4px;
  width: 50px;
  background-color: #D0021B;
  border-radius: 100px;
}

.logo {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  padding: 0;
  height: 70px;
  line-height: 70px;
  color: rgb(39, 36, 36);
}

.logo li {

  float: left;
  font-size: 200%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  max-width: 2em;
}

.logo.hidden li.spaced {
  padding-left: 0;
}

.logo li.spaced {
  padding-left: 0.5em;
}

.logo.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.menu {
  margin-right: 10px;
  height: 70px;
  line-height: 70px;
  float: right;
  transform: rotate(90deg);
  color: rgb(39, 36, 36);
  font-size: 100%;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  font-family: 'Open Sans', sans-serif;
}



.menu:hover {
  border-bottom: 2px solid rgb(39, 36, 36);
}

#close {
  color: white;
  border-bottom: 2px solid transparent;
}

#close:hover {
  border-bottom: 2px solid white;
}



.overlay {
  position: fixed;
  background-color: rgb(39, 36, 36);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;
  z-index: 2;
}

.overlay ul {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0;
  font-size: 300%;
  list-style: none;
  text-align: right;
}

.overlay ul li {
  margin: 20px 10px;

}

.overlay ul li a {
  text-decoration: none;
  color: rgb(134, 134, 134);
  transition: 0.5s;
  border-right: 2px solid rgb(134, 134, 134);
  padding-right: 30px;
}

.number {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 50%;
  font-weight: 700;
  color: rgb(134, 134, 134);
  transition: 0.5s;

}

.overlay ul li a:hover {
  color: white;
  border-right: 2px solid white;
}

.overlay ul li a:hover~.number {
  color: white;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
}

.right {
  visibility: hidden;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.right-one {
  visibility: hidden;
  flex: 1;
  background-image: url(../img2.jpg);
  background-position: center;
  background-size: cover;
}


.right-two {
  visibility: hidden;
  flex: 1;
  background-image: url(../img2.png);
  background-position: center;
  background-size: cover;
}


.box {
  width: 95%;
  height: 70vh;
  margin: 100px auto 0 auto;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.box:hover>.box-titles>.line {
  width: 300px;
  transition: 0.2s;
}

.line {
  transition: 0.2s;
}

h5 {
  margin: auto 0;
  font-size: 200%;
  font-family: 'Open Sans', sans-serif;
}

h6 {
  margin: auto 0;
  font-size: 90%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 0px;
}

h6,
h5 {
  transform: rotate(0deg);
  margin: auto;
}

.settings {
  height: 60px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  float: right;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.46);
}

#image {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image1 {
  background-image: url(../img2.png);
  background-position: center;
  background-size: cover;
}


.image1:hover {
  animation: image-1 6s infinite;
}

@keyframes image-1 {

  20% {
    background-image: url(../img2.png);
  }

  40% {
    background-image: url(../img2.jpg);
  }

  60% {
    background-image: url(../img2.png);
  }

  80% {
    background-image: url(../img2.jpg);
  }

  100% {
    background-image: url(../img2.png);
  }


}


.box-titles {
  position: relative;
  color: white;
}

.project-title {
  font-size: 200%;
  text-transform: uppercase;
}

.award {
  color: #D1B384;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  font-size: 100%;
}

.project-description {
  margin: 20px 0 0 0;
  font-size: 100%;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.titles {
  text-align: center;
  margin: 20vh 0 30vh 0;
}

.white-text {
  color: white;
}


.black-bc {
  background-color: rgb(39, 36, 36);
  transition: 1s;
}



/*    Contact Page     */

.separator {
  display: flex;
  width: 90%;
  height: 1px;
  background-color: rgb(199, 199, 199);
  margin: 50px auto;
}

.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-text {
  width: 90%;
  margin: auto;
  font-size: 200%;
}

form {
  width: 90%;
  margin: auto;
  font-size: 200%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  outline: none;
  margin-bottom: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(39, 36, 36);
  width: 100%;
  height: 50px;
  font-size: 70%;
  transition: 0.5s;
}

input:focus {
  border-bottom: 1px solid #D1B384;
}

textarea {
  outline: none;
  margin-bottom: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(39, 36, 36);
  width: 100%;
  font-size: 70%;
}

button {
  margin: 50px auto 0 0;
  font-size: 50%;
  background-color: rgb(39, 36, 36);
  color: white;
  padding: 20px 40px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
  font-size: 50%;
  margin-bottom: 50px;

}

button:hover {
  background-color: rgb(51, 49, 49);
}


/*  End contact page   */

/*  Gallery   */

.img-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.gallery-img {
  margin: auto;
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.borderbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid rgb(199, 199, 199);
  width: 50%;
  min-height: 50vh;
  transition: 1s;
}

.black-border {
  border: 1px solid rgb(39, 36, 36);
}

.about-img {
  margin: auto;
  object-fit: cover;
  height: 100%;
  width: 90%;
  max-height: 50vh;
}

.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: auto auto 50px auto;
  font-size: 200%;
}

.button {
  margin: 50px auto 0 0;
  font-size: 50%;
  background-color: rgb(39, 36, 36);
  color: white;
  padding: 20px 40px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;

}

.button:hover {
  background-color: rgb(51, 49, 49);

}

/*  End gallery page   */

/*  About   */

.cv {
  padding-top: 100px;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}




/*  End about page   */

/* TABLET STYLES */


@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  main {
    margin: 200px 20px 0 20px;
  }

  #navbar {
    top: 30px;
    background-color: transparent;
  }

  .box,
  .about-page,
  .contact-page {
    width: calc(100% - 160px);
    margin: auto;
  }

  .box {
    margin-top: 100px;
  }

  .cream {
    background-color: transparent;
  }

  .logo li {
    font-size: 250%;
  }

  .menu {
    font-size: 120%;
  }

  .overlay ul {

    font-size: 500%;
  }

  .right {
    visibility: hidden;
  }

  .right-one {
    visibility: hidden;
  }

  .right-two {
    visibility: hidden;
  }

  .dark {
    background-color: transparent;
    transition: 1s;
  }


  .about-img {
    width: 60vh;
    max-height: 70vh;
  }

}

/* between tablet and desktop*/
@media screen and (min-width: 800px) {

  .right {
    visibility: visible;
  }

  .right-one {
    visibility: visible;
  }

  .right-two {
    visibility: visible;
  }


  #image {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .settings {
    height: 60%;
    width: 100px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.46);
  }

  h6,
  h5 {
    transform: rotate(90deg);
    margin: auto;
  }

}


/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  main {
    margin: 200px 20px 0 20px;
  }

  #navbar {
    top: 30px;
    background-color: transparent;
  }

  #close {
    margin: 30px 20px;
  }

  .cream {
    background-color: transparent;
  }

  .logo li {
    font-size: 300%;
  }

  .menu {
    font-size: 150%;
  }

  .overlay ul {
    margin: 0 0 0 100px;
    font-size: 600%;
  }

  .right {
    visibility: visible;
  }

  .right-one {
    visibility: visible;
  }

  .right-two {
    visibility: visible;
  }

  .box {
    width: calc(100% - 170px);
  }

  .project-title {
    font-size: 500%;

  }

  .award {
    font-size: 150%;
  }

  .project-description {
    font-size: 180%;
  }

  .big-title {
    font-size: 1200%;
    white-space: nowrap;
  }

  .dark {
    background-color: transparent;
    transition: 1s;
  }

  .contact-page,
  .about-page {
    flex-direction: row;
  }

  .contact-text,
  .about-text {
    width: 30%;
    margin: auto;
  }

  .separator {
    display: none;
  }

  form {
    width: 30%;
    margin: auto;
  }

  .img-col {
    width: calc(100% - 160px);
  }

  .floating-links {
    visibility: visible;
  }

  .borderbox {
    width: 30%;
  }


}