/* MOBILE AND GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(233, 229, 224);
  transition: 1s;
}

main {
  margin: 200px 0 0 0;
}

#navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.line {
  height: 4px;
  width: 50px;
  background-color: #D0021B;
  border-radius: 100px;
}

.logo {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  padding: 0;
  height: 70px;
  line-height: 70px;
  color: black;
}

.logo li {
  display: inline-block;
  float: left;
  font-size: 200%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  max-width: 2em;
}

.logo.hidden li.spaced {
  padding-left: 0;
}

.logo li.spaced {
  padding-left: 0.5em;
}

.logo.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.menu {
  margin-right: 10px;
  height: 70px;
  line-height: 70px;
  float: right;
  transform: rotate(90deg);
  color: black;
  font-size: 100%;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  font-family: 'Open Sans', sans-serif;
}



.menu:hover {
  border-bottom: 2px solid black;
}

#close {
  color: white;
  border-bottom: 2px solid transparent;
}

#close:hover {
  border-bottom: 2px solid white;
}



.overlay {
  position: fixed;
  background: rgb(22, 18, 18);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;
  z-index: 2;
}

.overlay ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0;
  font-size: 400%;
  list-style: none;
  text-align: left;
}

.overlay ul li a {
  text-decoration: none;
  color: rgb(75, 75, 75);
  transition: 0.5s;
}

.overlay ul li {
  margin: 0 10px;
  cursor: pointer;
}

.overlay ul li a:hover {
  color: white;
}


.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.box {
  width: 95%;
  height: 80vh;
  margin: 150px auto 0 auto;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
}

.box:hover>.box-titles>.line {
  width: 300px;
  transition: 0.2s;
}

.line {
  transition: 0.2s;
}


#image {
  position: relative;
  height: 100%;
  background-image: url(../img2.png);
  background-position: center;
  background-size: cover
}

#image2 {
  position: relative;
  height: 100%;
  background-image: url(../img2.jpg);
  background-position: center;
  background-size: cover
}

.box-titles {
  position: relative;
  color: white;
}

.project-title {
  font-size: 200%;
  text-transform: uppercase;
}

.award {
  color: #D1B384;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  font-size: 100%;
}

.project-description {
  margin: 20px 0 0 0;
  font-size: 100%;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.titles {
  text-align: center;
  margin: 30vh 0 30vh 0;
}

.latest-work {
  font-size: 150%;
}

.footwear-design {
  font-size: 400%;
}

.white {
  color: white;
}

.cream {
  background-color: #E8E1D5;
}

.black {
  background-color: black;
  transition: 1s;
}

.dark {
  background-color: black;
  transition: 1s;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  main {
    margin: 200px 20px 0 20px;
  }

  #navbar {
    top: 30px;
    background-color: transparent;
  }

  .box {
    width: calc(100% - 160px);
  }

  .cream {
    background-color: transparent;
  }

  .logo li {
    font-size: 250%;
  }

  .menu {
    font-size: 120%;
  }

  .overlay ul {
    margin: 0 0 0 50px;
    font-size: 500%;
  }

  .dark {
    background-color: transparent;
    transition: 1s;
  }

}


/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  main {
    margin: 200px 20px 0 20px;
  }

  #navbar {
    top: 30px;
    background-color: transparent;
  }

  #close {
    margin: 30px 20px;
  }

  .cream {
    background-color: transparent;
  }

  .logo li {
    font-size: 300%;
  }

  .menu {
    font-size: 150%;
  }

  .overlay ul {
    margin: 0 0 0 100px;
    font-size: 600%;
    text-align: left;
  }

  .box {
    width: calc(100% - 160px);
  }

  .project-title {
    font-size: 500%;

  }

  .award {
    font-size: 150%;
  }

  .project-description {
    font-size: 180%;
  }

  .footwear-design {
    font-size: 700%;
  }

  .dark {
    background-color: transparent;
    transition: 1s;
  }

}